<!DOCTYPE html>
<html>

<head>

    <title>Lista de ventas</title>
    <link href="../static/template.css" rel="stylesheet" type="text/css">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f077be3e7d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="topbar">
        <img id="logo" src="../static//logo.png" />
        <div class="navigation">
            <a href="" target="_blank">pc gaming <i class="fa-thin fa-magnifying-glass"></i></a>
            <a href="" target="_blank">portatiles</a>
            <a href="" target="_blank">monitores</a>
            <a href="" target="_blank">perifericos</a>
        </div>
    </div>


    <div class="content">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Factura</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>18/10/2022</td>
                <td>FV001</td>
                <td>$150.000</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>19/10/2022</td>
                <td>FV002</td>
                <td>$150.000</td>
              </tr>
              <tr>
                 <th scope="row">3</th>
                <td>20/10/2022</td>
                <td>FV003</td>
                <td>$150.000</td>
              </tr>
			   <tr>
                 <th scope="row"></th>
                <td></td>
                <td>TOTAL</td>
                <td>$450.000</td>
              </tr>
            </tbody>
          </table>


    </div>




    <div class="credit"><a href="https://github.com/codexuda" target="_blank"><i class="fa-solid fa-code"></i></a>
    </div>
</body>

</html>