<!DOCTYPE html>
<html>

<head>

    <title>Productos</title>
    <link href="../static/template.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/f077be3e7d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="topbar">
        <img id="logo" src="../static//logo.png" />
        <div class="navigation">
            <a href="" target="_blank">pc gaming <i class="fa-thin fa-magnifying-glass"></i></a>
            <a href="" target="_blank">portatiles</a>
            <a href="" target="_blank">monitores</a>
            <a href="" target="_blank">perifericos</a>
        </div>
    </div>


    <div class="content">

        <div class="product">
            <div id="left">
                <div id="name">Mouse Logitech G203</div>
                <img id="photo" src="../static/g203.png">
            </div>
            <div id="middle">
                <div id="description">Navega rápidamente por documentos y páginas web gracias su diseño ultra delgado,
                    ergonómico, liviano y conveniente para llevar a donde quieras o viajar.</div>
            </div>
            <div id="right">
                <div id="price">
                    $125000
                    <div class="bttn"><a href="" target="_blank">comprar <i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="product">
            <div id="left">
                <div id="name">Logitech G305 Lightspeed</div>
                <img id="photo" src="../static/g305.png">
            </div>
            <div id="middle">
                <div id="description">Mouse inalambrico liviano y con buen sensor para juegos. Discreto pero
                    preciso</div>
            </div>
            <div id="right">
                <div id="price">
                    $195000
                    <div class="bttn"><a href="" target="_blank">comprar <i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="product">
            <div id="left">
                <div id="name">Razer Bazilic</div>
                <img id="photo" src="../static/razr-b.png" />
            </div>
            <div id="middle">
                <div id="description">El mouse de juego te ofrecerá la posibilidad de marcar la diferencia y sacar
                    ventajas en tus partidas. Su conectividad y sensor suave ayudará a que te desplaces rápido por la
                    pantalla.</div>
            </div>
            <div id="right">
                <div id="price">
                    $285000
                    <div class="bttn"><a href="" target="_blank">comprar <i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="product">
            <div id="left">
                <div id="name"> Razer DeathAdder V2</div>
                <img id="photo" src="../static/razer-d.png">
            </div>
            <div id="middle">
                <div id="description">El sistema de detección de movimiento óptico te permitirá mover el cursor de una
                    manera más precisa y sensible que en los sistemas tradicionales.</div>
            </div>
            <div id="right">
                <div id="price">
                    $195000
                    <div class="bttn"><a href="" target="_blank">comprar <i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
        </div>



    </div>




    <div class="credit"><a href="https://github.com/codexuda" target="_blank"><i class="fa-solid fa-code"></i></a>
    </div>
</body>

</html>