<!DOCTYPE html>
<html>

<head>

    <title>Modificar Productos</title>
    <link href="../static/template.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/f077be3e7d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="topbar">
        <img id="logo" src="../static//logo.png" />
        <div class="navigation">
            <a href="" target="_blank">pc gaming <i class="fa-thin fa-magnifying-glass"></i></a>
            <a href="" target="_blank">portatiles</a>
            <a href="" target="_blank">monitores</a>
            <a href="" target="_blank">perifericos</a>
        </div>
    </div>


    <div class="content">
<center>
       <form action="/my-handling-form-page" method="post">
				
				
				
				
				
				
				
<table class="default">
  <tr>
    <th><label for="name">Nombre:</label></th>
    <th><label>Descripción:</label></th>
    <th><label for="msg">Precio:</label></th>
  </tr>
  <tr>
    <td><input type="text" id="name" name="name"></td>
    <td><textarea type="text" id="Descripcion" name="descripcion"></textarea></td>
    <td><input type="num" name="Precio"></td>
	<td><button type="button" onclick="alert('Producto actualizado')">GUARDAR</button></td>
  </tr>

</table>
		
			
			
		</form>
	</center>



    </div>




    <div class="credit"><a href="https://github.com/codexuda" target="_blank"><i class="fa-solid fa-code"></i></a>
    </div>
</body>

</html>